<<<<<<< HEAD
  
body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: rgb(52, 165, 52);
}
=======
>>>>>>> b905d2575a6733f4a4c19b4ebf8c55ecedde45ef
